<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Book Lover</title>

    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.css"
    />
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/popper"></script>
    <script src="https://unpkg.com/bootstrap"></script>

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    />
    <script
      src="https://kit.fontawesome.com/48ec6c005f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/css/app.css" />
  </head>

  <body
    style="background-color: rgb(250, 250, 245)"
    class="{% block body_class %}{% endblock %}"
  >
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color: #609885"
      id="nav"
    >
      <div class="container">
        <div>
          <a href="/" class="navbar-brand d-inline">
            <span>Book Lover</span>
          </a>
          <a href="/my/list" class="nav-link d-inline">
            <span>My Books</span>
          </a>
        </div>
        <ul class="nav navbar-nav mr-auto">
          {% if request.endpoint != None %}
          <li>
            <form method="post" class="navbar-form d-flex" action="/search">
              <input
                name="q"
                class="form-control me-2"
                type="search"
                placeholder="Search"
                id="search"
              />
              <button class="btn btn-default">
                <span class="fa fa-search"></span>
              </button>
            </form>
          </li>
          {% endif %} {% if not g.user %}
          <li class="nav-item">
            <a class="nav-link pr-3 text-light" href="/signup">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pr-3 text-light" href="/login">Log in</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link pr-3 text-light" href="/logout">Log out</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">
      {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% block content %} {% endblock %}
    </div>
  </body>
</html>
