{% extends "base.html" %} {% block content %}
<div class="container mt-5 d-flex align-items-center">
  <div class="row row-cols-md-2 g-5">
    <div class="card mb-3" style="width: 13rem; height: 17rem">
      <img
        src="http://covers.openlibrary.org/a/id/{{ author.photos[0] }}-M.jpg"
        alt="{{ author.name }}"
        class="mt-4 rounded shadow-lg"
      />
    </div>
    <div class="col-10" style="width: 60rem">
      <h1>{{author.name}}</h1>
      <h5>{{author.birth_date}}</h5>
      {% if author.bio.value %}
      <p>{{author.bio.value}}</p>
      {% else %}
      <p>{{author.bio}}</p>
      {% endif %}
    </div>
    <div class="mb-5">
      <h1>Author's Works</h1>
      <small
        >("You can explore more books written by this author using our search
        feature. Below, we've provided a short list of some popular
        books")</small
      >
      {% for work in works %}
      <ul>
        <li class="card-title mt-3">
          <a
            class="text-decoration-none text-reset"
            href="{{ url_for('get_book', key=work.key, title = work.title|replace(' ', '_')) }}"
            >{{work.title}}</a
          >
        </li>
      </ul>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
