{% extends "base.html" %} {% block content %}
<div class="container mt-5 d-flex align-items-center">
  <div class="row row-cols-md-2 g-5">
    <div
      class="card mb-3"
      style="
        width: 13rem;
        height: 25rem;
        background-color: rgba(236, 174, 18, 0.49);
      "
    >
      <div class="col">
        <img
          src="http://covers.openlibrary.org/b/id/{{ book.covers[0] }}-L.jpg"
          alt="{{ book.title }}"
          class="card-img-top mt-4 rounded shadow-lg mb-4"
        />
        <div class="card-body">
          <form method="POST" style="width: 8rem">
            {{ form.hidden_tag() }} {% for field in form if
            field.widget.input_type != 'hidden' %} {% for error in field.errors
            %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %} {{ field(placeholder=field.label.text,
            class="form-control") }} {% endfor %}
            <button class="btn btn-success btn-block" style="width: 8rem">
              Add to list
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-10" style="width: 60rem">
      <h1>{{title| replace("_", " ")}}</h1>
      <h5>
        by
        <a href="{{url_for('authors', key=author.key)}}"
          ><span>{{author.name}}</span></a
        >
      </h5>
      <p>
        <i
          class="fa-sharp fa-solid fa-star fa-flip fa-lg"
          style="color: #ffdd00"
        ></i>
        {{rating.summary.average|round(2)}}
      </p>
      {% if book.description.value %}
      <p>{{book.description.value}}</p>
      {% else %}
      <p>{{book.description}}</p>
      {% endif %}
      <p>Genres: <i>{{book.subjects|join(', ')}}</i></p>
    </div>
  </div>
</div>
<div class="row justify-content-md-start">
  <div class="col-md-7 col-lg-5">
    <h2 class="join-message">Comments & Reviews</h2>
    <form method="POST">
      {{ form2.hidden_tag() }} {% for field in form2 if field.widget.input_type
      != 'hidden' %} {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %} {{ field(placeholder=field.label.text, class="form-control")
      }} {% endfor %}

      <button class="btn btn-success btn-lg btn-block">Add comment</button>
    </form>
  </div>
</div>

<hr />
{% for review in reviews %}
<div class="container border border-black mb-5 rounded">
  <div class="d-flex align-items-inline mt-3">
    <p style="font-size: larger; font-weight: 500" class="me-3">
      {{review.user.first_name}} {{review.user.last_name}}
    </p>
    {% for rating in range(review.user_rating)%}
    <span
      ><i class="fa-sharp fa-solid fa-star fa-lg" style="color: #ffdd00"></i
    ></span>
    {% endfor %}
  </div>
  <div class="message-area mb-4" name="review">
    <p>{{review.text}}</p>
    <div class="d-flex justify-content-between">
      <div>
        <form
          class="d-inline"
          method="POST"
          action='{{url_for("edit_review", key=book.key, title=book.title|replace(" ", "_"))}}'
        >
          <button class="btn btn-success">Edit</button>
        </form>
        <form
          class="d-inline"
          method="POST"
          action="{{url_for('destroy_review',key=book.key, title=book.title|replace(' ', '_'))}}"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <span class="text-muted"
        ><i>{{review.timestamp.strftime('%d %B %Y')}}</i></span
      >
    </div>
  </div>
</div>
{% endfor %} {% endblock %}
