{% extends "base.html" %} {% block content %}
<div class="container mt-5 mb-5">
  {% if not books %}
  <p>List is empty.</p>
  {% else %}
  <div class="row row-cols-1 row-cols-md-6 g-4">
    {% for book in books %}
    <div class="col">
      <div class="card h-100">
        {% if book.book.covers %}
        <img
          src="http://covers.openlibrary.org/b/id/{{ book.book.covers[0] }}-M.jpg"
          alt="{{ book.book.title }}"
          class="rounded"
        />{% else %}
        <img
          src="../../static/images/default-placeholder.png"
          class="rounded"
          alt="{{ book.book.title }}"
        />{% endif %}
        <div class="card-body">
          <h5 class="card-title">
            <a
              class="text-decoration-none text-reset"
              href="{{ url_for('get_book', key=book.book.key, title=book.book.title|replace(' ', '_')) }}"
            >
              <span>{{ book.book.title }}</span>
            </a>
          </h5>
          <p>
            by
            <a
              class="text-decoration-none text-reset"
              href="{{ url_for('authors', key=book.author.key) }}"
              >{{ book.author.name }}</a
            >
          </p>
          <p>Status: <i>{{book.status}}</i></p>
          <form method="POST" action="/my/list/delete">
            <button class="btn btn-danger" style="width: 10rem">Delete</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
</div>
{% endblock %}
